<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Eventos</title>
    <style>
        table td {
            padding: 1rem;
            background: #b5d2ff;
        }

        #tr-head td{
            background: #538be0;
        }
    </style>
  </head>
  <body>
    <div class="menu" style="display: block; background: #393e46;">
      <div
        class="m-tittle p-2 m-2"
        style="display: inline-flex; text-transform: uppercase; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;"
        href=""
      >
        Dashboard
      </div>
      <a
        class="m-add p-2 m-2"
        style="display: inline-block; color: white; text-decoration: none;"
        href=""
        >Eventos</a
      >
      <a
        class="m-add p-2 m-2"
        style="display: inline-block; color: white; text-decoration: none;"
        href=""
        >Configuracion</a
      >
      <a
        class="m-exit p-2 m-2"
        style="display: inline-block; color: white; text-decoration: none; float: right;"
        href=""
      >
        Salir</a
      >
    </div>
    <div class="container-events w-100 m-0">
      <table class="w-100">
        <tr id="tr-head">
          <td>No.</td>
          <td>Nombre</td>
          <td>Descripcion</td>
          <td>Fecha</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Evento 1</td>
          <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
            blanditiis cumque tenetur aspernatur excepturi quidem ullam,
            reprehenderit
          </td>
          <td>26/11/2019</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Evento 2</td>
          <td>
            Amet consectetur adipisicing elit. Esse
            blanditiis cumque tenetur aspernatur excepturi quidem ullam,
            reprehenderit
          </td>
          <td>10/12/2019</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Evento 3</td>
          <td>
            Sit amet consectetur adipisicing elit. Esse
            blanditiis cumque tenetur aspernatur excepturi quidem ullam,
            reprehenderit
          </td>
          <td>10/12/2019</td>
        </tr>
      </table>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/b86061cfbb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
