<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>S.E.D</title>
  </head>
  <body style="background: #222831;">
    <div
      class="container"
      style="margin: 4rem auto; border-radius: 3rem;width: 30rem; height: 25rem; background: #00adb5;"
    >
      <div
        class="login p-4"
        style="width: 100%; height: auto; font-size: 3rem; font-family: 'Times New Roman', Times, serif; text-transform: uppercase; text-align: center;"
      >
        Login
      </div>
      <form
        class="login-form"
        style="margin: 0 auto; width: 80%;"
        action="dashboard"
      >
        <label for="username">Username:</label>
        <input
          class="p-2 mb-4"
          style="width: 100%; height: auto; border-radius: 1rem; font-family:Arial, FontAwesome"
          type="text"
          name="username"
          placeholder="&#xf007; Username"
          autocomplete="off"
          required
        />
        <label for="password">Password:</label>
        <input
          class="p-2 mb-4"
          style="width: 100%; height: auto; border-radius: 1rem; font-family:Arial, FontAwesome"
          type="password"
          name="password"
          placeholder="&#xf023; Nickname"
          autocomplete="off"
          required
        />
        <div class="w-100" style="text-align: center;">
            <input class="btn-primary p-1" style="border-radius: 2rem; font-size: 1.2rem; width: 50%; height: auto;" type="submit" value="Login">
        </div>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/b86061cfbb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
